<h2>DistributedToDos</h2>

<a href="/distributed_to_dos/new">New DistributedToDo</a>

<table>
  <thead>
    <th>UUID</th>
    <th>Completed at</th>
    <th>Due on</th>
    <th>Assignment count</th>
  </thead>
  </tbody>
    <% distributed_to_dos.each do |distributed_to_do| %>
      <tr>
        <td><a href="/distributed_to_dos/<%= distributed_to_do['uuid'] %>"><%= distributed_to_do['uuid'] %></a></td>
        <td><%= distributed_to_do['completed_at'] %></td>
        <td><%= distributed_to_do['due_on'] %></td>
        <td><%= distributed_to_do['assignments'].count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
