<h2>DistributedToDos</h2>

<a href="/distributed_to_dos/new">New DistributedToDo</a>

<p>
Filter:
<a href="/distributed_to_dos?late=true">Late</a>
<a href="/distributed_to_dos?complete=false">Incomplete</a>
<a href="/distributed_to_dos?complete=false&amp;late=true">Late and Incomplete</a>
<a href="/distributed_to_dos?tags[]=security">Tagged "security"</a>
<a href="/distributed_to_dos?tags[]=security&tags[]=annual">Tagged "security" and "annual"</a>
</p>

<table>
  <thead>
    <th>Name</th>
    <th>Completed at</th>
    <th>Due on</th>
    <th>Assignment count</th>
    <th>Tags</th>
    <th>Metadata Keys</th>
  </thead>
  </tbody>
    <% distributed_to_dos.each do |distributed_to_do| %>
      <tr>
        <td><a href="/distributed_to_dos/<%= distributed_to_do['uuid'] %>"><%= distributed_to_do['name'] %></a></td>
        <td><%= distributed_to_do['completed_at'] %></td>
        <td><%= distributed_to_do['due_on'] %></td>
        <td><%= distributed_to_do['assignments'].count %></td>
        <td><%= distributed_to_do['tags'].join(', ') %></td>
        <td><%= distributed_to_do['metadata'].keys.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
