<h2><a href="/distributed_to_dos">DistributedToDos</a> &gt; DistributedToDo <%= uuid %></h2>

<table>
  <tbody>
    <tr>
      <th>UUID</th>
      <td><%= uuid %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= name %></td>
    </tr>
    <tr>
      <th>Created at</th>
      <td><%= created_at %></td>
    </tr>
    <tr>
      <th>Completed at</th>
      <td><%= completed_at %></td>
    </tr>
    <tr>
      <th>Due on</th>
      <td><%= due_on %></td>
    </tr>
  </tbody>
</table>

<h3>Assignments</h3>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Finished on</th>
    </tr>
  </thead>
  <tbody>
    <% assignments.each do |assignment| %>
      <tr>
        <td><%= assignment['email'] %></td>
        <td><%= assignment['finished_on'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Tags</h3>

<ul>
  <% tags.each do |tag| %>
    <li><%= tag %></li>
  <% end %>
</ul>

<h3>Metadata</h3>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% metadata.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
