<h2><a href="/users">Users</a> &gt; User <%= user['email'] %></h2>

<table>
  <tbody>
    <tr>
      <th>Path</th>
      <td><%= user["path"] %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= user["email"] %></td>
    </tr>
    <tr>
      <th>First Name</th>
      <td><%= user["first_name"] %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= user["last_name"] %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= user["created_at"] %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= user["updated_at"] %></td>
    </tr>
    <tr>
      <th>Review On</th>
      <td><%= user["review_on"] %></td>
    </tr>
    <tr>
      <th>Started On</th>
      <td><%= user["started_on"] %></td>
    </tr>
    <tr>
      <th>Manager Path</th>
      <td><%= user["manager_path"] %></td>
    </tr>
    <tr>
      <th>Title</th>
      <td><%= user["title"] %></td>
    </tr>
    <tr>
      <th>Administrator?</th>
      <td><%= user["administrator"] %></td>
    </tr>
    <tr>
      <th>Employee ID</th>
      <td><%= user["employee_id"] %></td>
    </tr>
</table>
